In [2]:
import pandas as pd

Membaca file.csv ke dalam DataFrame

In [3]:
# Path file CSV dengan backslash ganda
file_path = r"C:\Users\ACER-GK\Documents\PRAKTIKUM KECERDASAN BUATAN\Posttest_KB_2\diamonds.csv"

# Membaca dataset ke dalam DataFrame
df = pd.read_csv(file_path)

# Menampilkan beberapa baris pertama dari DataFrame
df.head()

   carat         cut color clarity  depth  table  price   'x'   'y'   'z'
0   0.23    b'Ideal'  b'E'  b'SI2'   61.5   55.0  326.0  3.95  3.98  2.43
1   0.21  b'Premium'  b'E'  b'SI1'   59.8   61.0  326.0  3.89  3.84  2.31
2   0.23     b'Good'  b'E'  b'VS1'   56.9   65.0  327.0  4.05  4.07  2.31
3   0.29  b'Premium'  b'I'  b'VS2'   62.4   58.0  334.0  4.20  4.23  2.63
4   0.31     b'Good'  b'J'  b'SI2'   63.3   58.0  335.0  4.34  4.35  2.75

Menampilkan Rata-Rata "price"

In [4]:
#Menampilkan rata-rata price
mean_price = df['price'].mean()
print(mean_price)

3932.799721913237

Menampilkan rata-rata keseturuhan atribut angka/numerik.

In [5]:
# Menghitung rata-rata dari seluruh dataset
mean_values = df.mean(numeric_only=True)

# Menampilkan rata-rata
print(mean_values)

carat       0.797940
depth      61.749405
table      57.457184
price    3932.799722
'x'         5.731157
'y'         5.734526
'z'         3.538734
dtype: float64

Menampilkan standar deviasi, "numeric_only=True" digunakan karena terdapat peringatan  "FutureWarning: Dropping of nuisance columns in DataFrame reductions with 'numeric_only=None'. Untuk mengatasinya menggunakan parameter tambahan numeric_only.

In [6]:
std_values = df.std(numeric_only=True)
print(std_values)

carat       0.474011
depth       1.432621
table       2.234491
price    3989.439738
'x'         1.121761
'y'         1.142135
'z'         0.705699
dtype: float64

Menampilkan nilai minimum dari atribut angka.

In [7]:
min_values = df.min()
print(min_values)

carat          0.2
cut        b'Fair'
color         b'D'
clarity      b'I1'
depth         43.0
table         43.0
price        326.0
'x'            0.0
'y'            0.0
'z'            0.0
dtype: object

Menampilkan nilai maksimum atribut angka.

In [8]:
max_values = df.max()
print(max_values)

carat              5.01
cut        b'Very Good'
color              b'J'
clarity         b'VVS2'
depth              79.0
table              95.0
price           18823.0
'x'               10.74
'y'                58.9
'z'                31.8
dtype: object

Menampilkan Q1, Q2 dan Q3 dalam atribut angka/numerik pada seluruh kolom.

In [9]:
q1_values = df.quantile(0.25)
median_values = df.median(numeric_only=True)
q3_values = df.quantile(0.75)

print("Q1:")
print(q1_values)
print("\nMedian (Q2):")
print(median_values)
print("\nQ3:")
print(q3_values)

Q1:
carat      0.40
depth     61.00
table     56.00
price    950.00
'x'        4.71
'y'        4.72
'z'        2.91
Name: 0.25, dtype: float64

Median (Q2):
carat       0.70
depth      61.80
table      57.00
price    2401.00
'x'         5.70
'y'         5.71
'z'         3.53
dtype: float64

Q3:
carat       1.04
depth      62.50
table      59.00
price    5324.25
'x'         6.54
'y'         6.54
'z'         4.04
Name: 0.75, dtype: float64

Tampilkan 10 record pertama dari dataset dengan attribute bertipe angka.

In [10]:
# Memilih kolom-kolom dengan tipe data angka/numerik
numeric_columns = df.select_dtypes(include=['number'])

# Menampilkan 10 rekaman pertama dari kolom-kolom angka/numerik
first_10_records = numeric_columns.head(10)

# Menampilkan hasil
print(first_10_records)

   carat  depth  table  price   'x'   'y'   'z'
0   0.23   61.5   55.0  326.0  3.95  3.98  2.43
1   0.21   59.8   61.0  326.0  3.89  3.84  2.31
2   0.23   56.9   65.0  327.0  4.05  4.07  2.31
3   0.29   62.4   58.0  334.0  4.20  4.23  2.63
4   0.31   63.3   58.0  335.0  4.34  4.35  2.75
5   0.24   62.8   57.0  336.0  3.94  3.96  2.48
6   0.24   62.3   57.0  336.0  3.95  3.98  2.47
7   0.26   61.9   55.0  337.0  4.07  4.11  2.53
8   0.22   65.1   61.0  337.0  3.87  3.78  2.49
9   0.23   59.4   61.0  338.0  4.00  4.05  2.39

Tampilkan informasi jumlah record, jumlah attribute, nama attribute, jumlah attribute dengan tipe angka. Masukkan informasi tersebut dalam dictionary dengan key sesuai nama informasinya. Tampilkan isi dari dictionary tersebut sebagus mungkin.

In [11]:
# Membaca dataset ke dalam DataFrame dengan blackfash ganda.
df = pd.read_csv(r"C:\Users\ACER-GK\Documents\venv_A1-22\Maya_005\diamonds.csv")  # Ganti dengan path dataset yang sesuai

# Menghitung jumlah rekaman (baris) dan jumlah atribut (kolom)
num_records, num_attributes = df.shape

# Mendapatkan daftar nama atribut
attribute_names = df.columns.tolist()

# Menghitung jumlah atribut dengan tipe angka (numerik)
num_numeric_attributes = len(df.select_dtypes(include=['number']).columns)

# Membuat dictionary dengan informasi yang diperlukan
info_dict = {
    "Jumlah Record": num_records,
    "Jumlah Atribut": num_attributes,
    "Nama Atribut": attribute_names,
    "Jumlah Atribut Numerik": num_numeric_attributes
}

# Menampilkan isi dari dictionary dengan format yang baik
for key, value in info_dict.items():
    print(f"{key}: {value}")

Jumlah Record: 53940
Jumlah Atribut: 10
Nama Atribut: ['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', "'x'", "'y'", "'z'"]
Jumlah Atribut Numerik: 7

Tampilkan nilai dataset pada baris dimulai dengan 3 digit NIM akhir(Nim : 005) hingga data terakhir dan kolom ke 4 hingga kolom terakhir menggunakan ke 2 metode slice.

In [12]:
# Metode Slice menggunakan .iloc[] untuk baris "dari baris ke 3 angka terakhir nim yaitu 005" dan kolom 
subset_df1 = df.iloc[4:, 3:]

# Menampilkan hasil
print(subset_df1)

       clarity  depth  table   price   'x'   'y'   'z'
4       b'SI2'   63.3   58.0   335.0  4.34  4.35  2.75
5      b'VVS2'   62.8   57.0   336.0  3.94  3.96  2.48
6      b'VVS1'   62.3   57.0   336.0  3.95  3.98  2.47
7       b'SI1'   61.9   55.0   337.0  4.07  4.11  2.53
8       b'VS2'   65.1   61.0   337.0  3.87  3.78  2.49
...        ...    ...    ...     ...   ...   ...   ...
53935   b'SI1'   60.8   57.0  2757.0  5.75  5.76  3.50
53936   b'SI1'   63.1   55.0  2757.0  5.69  5.75  3.61
53937   b'SI1'   62.8   60.0  2757.0  5.66  5.68  3.56
53938   b'SI2'   61.0   58.0  2757.0  6.15  6.12  3.74
53939   b'SI2'   62.2   55.0  2757.0  5.83  5.87  3.64

[53936 rows x 7 columns]

In [13]:
# Metode Slice menggunakan .loc[] untuk baris dan kolom
subset_df2 = df.loc[4:, df.columns[3]:]

# Menampilkan hasil
print(subset_df2)

       clarity  depth  table   price   'x'   'y'   'z'
4       b'SI2'   63.3   58.0   335.0  4.34  4.35  2.75
5      b'VVS2'   62.8   57.0   336.0  3.94  3.96  2.48
6      b'VVS1'   62.3   57.0   336.0  3.95  3.98  2.47
7       b'SI1'   61.9   55.0   337.0  4.07  4.11  2.53
8       b'VS2'   65.1   61.0   337.0  3.87  3.78  2.49
...        ...    ...    ...     ...   ...   ...   ...
53935   b'SI1'   60.8   57.0  2757.0  5.75  5.76  3.50
53936   b'SI1'   63.1   55.0  2757.0  5.69  5.75  3.61
53937   b'SI1'   62.8   60.0  2757.0  5.66  5.68  3.56
53938   b'SI2'   61.0   58.0  2757.0  6.15  6.12  3.74
53939   b'SI2'   62.2   55.0  2757.0  5.83  5.87  3.64

[53936 rows x 7 columns]

Tampilkan jumlah nilai dari semua attribute yang bernilai object.

In [14]:
# Memilih kolom-kolom dengan tipe data objek (string)
object_columns = df.select_dtypes(include=['object'])

# Menghitung jumlah nilai unik dalam setiap kolom objek
object_column_value_counts = {}
for column in object_columns.columns:
    value_counts = object_columns[column].value_counts()
    object_column_value_counts[column] = len(value_counts)

# Menampilkan jumlah nilai unik dalam setiap kolom objek
for column, count in object_column_value_counts.items():
    print(f"{column}: {count} nilai unik")

cut: 5 nilai unik
color: 7 nilai unik
clarity: 8 nilai unik